name: {{ project_name }}
description: DWE Superset BI Platform for {{ project_name }}
runtime:
  name: python
  options:
    virtualenv: venv
config:
  pulumi:tags:
    value:
      pulumi:template: dwe-superset
